body {
  background-color: grey;
}
li {
  list-style: none;
  display: inline-block;
  padding: 30px;
  background-color: white;
}
a {
  text-decoration-line: none;
}
a:hover {
  color: white;
  transition: 200ms ease-in-out;
  cursor: pointer;
  text-decoration: underline;
}

.weatherApp {
  background-color: pink;
  margin: 70px auto;
  padding-top: 50px;
  border-radius: 10px;
  max-width: 600px;
}
.weekDay {
  background-color: blue;
  padding: 10px;
}
