body {
  background-image: url(images/blurry-world-map.jpg);
  background-size: cover;
}
h1 {
  text-align: center;
}
h2 {
  text-align: center;
  font-size: 50px;
}
p {
  text-align: center;
}

li {
  list-style: none;
  display: inline-block;
  padding: 30px;
  background-color: white;
}
a {
  text-decoration-line: none;
}
a:hover {
  color: white;
  transition: 200ms ease-in-out;
  cursor: pointer;
  text-decoration: underline;
}

.weatherApp {
  background-color: rgba(#596e79, 0, 0, 1);
  opacity: 0, 6;
  margin: 70px auto;
  padding-top: 10px;
  border-radius: 10px;
  max-width: 600px;
}
.weekDay {
  background-color: #596e79;
  padding: 10px;
}
